// button

.button {
  @include font-family($font-family-primary, 400, 16px, 125%);
  padding: 10px;
  border: none;
  background-color: $bg-color-secondary;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-color-secondary;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-hover;
  }

  &:focus-visible {
    background-color: $bg-color-hover;
    outline: 2px solid $bg-color-secondary;
    outline-offset: 2px;
  }

  &:active {
    color: rgba($color: $text-color-secondary, $alpha: 0.6);
  }

  &:disabled {
    background-color: $bg-color-hover;
    color: $text-color-secondary;
    cursor: default;
    opacity: 0.3;
  }
}

.button--base {
  padding: 15px;
  font-size: 20px;
  line-height: 130%;
}

.button--secondary {
  background-color: $bg-color-primary;
  color: $text-color-special;

  &:hover {
    background-color: $bg-color-special-hover;
  }

  &:focus-visible {
    background-color: $bg-color-special-hover;
    outline: 2px solid $bg-color-primary;
    outline-offset: 2px;
  }

  &:active {
    background-color: $bg-color-special-hover;
    color: rgba($color: $text-color-special, $alpha: 0.6);
  }

  &:disabled {
    background-color: $bg-color-special-hover;
    color: $text-color-special;
    cursor: default;
  }
}

// tablet

@media (min-width: $tablet-width) {
  .button--auxiliary {
    @include font-family($font-family-primary, 400, 20px, 130%);
    padding: 14px 26px;
  }
}
