// example

.example__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
  padding: 25px 20px 42px;
  background-color: $bg-color-auxiliary;
}

.example__heading {
  @include font-family($font-family-primary, 400, 36px, 111%);
  margin: 0 0 20px;
  color: $text-color-main;
}

.example__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
}

.example__text {
  @include font-family($font-family-secondary, 400, 14px, 129%);
  margin: 0;
  color: $text-color-special;
}

.example__list {
  @include list-reset;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.example__item {
  text-align: center;
}

.example__term {
  @include font-family($font-family-primary, 400, 24px, 100%);
  margin: 0;
  padding: 13px 0 18px;
  text-transform: uppercase;
  border: 1px solid $decoration-color-secondary;
  color: $text-color-main;
}

.example__definition {
  @include font-family($font-family-secondary, 400, 12px, 100%);
  margin: -10px 20% 0;
  background-color: $bg-color-auxiliary;
  text-align: center;
  color: $text-color-special;
}

.example__description {
  @include font-family($font-family-primary, 400, 14px, 143%);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: $text-color-main;
}

.example__description-wrapping {
  display: none;
}

.example__slider {
  margin: 0 auto;
}

// tablet

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid $decoration-color-main;
  }

  .example__wrapper {
    gap: 55px;
    padding: 45px 30px 0;
    background-color: $bg-color-main;
  }

  .example__wrapper::after {
    content: "";
    grid-column: 1 / -1;
    width: calc(100% + 60px);
    height: 462px;
    background-color: $decoration-color-main;
    margin: -417px -30px 0;
  }

  .example__heading {
    @include font-family($font-family-primary, 400, 60px, 100%);
    grid-column: 1 / -1;
    margin: 0 0 5px;
    color: $text-color-main;
  }

  .example__container {
    grid-template-columns: 5.1fr 4fr;
    grid-column: 1 / -1;
    gap: 55px;
  }

  .example__text {
    @include font-family($font-family-secondary, 400, 16px, 150%);
    grid-column: 1 / -1;
  }

  .example__list {
    gap: 43px;
  }

  .example__term {
    @include font-family($font-family-primary, 400, 30px, 125%);
    padding: 14px 0 17px;
  }

  .example__definition {
    @include font-family($font-family-secondary, 400, 14px, 100%);
    margin: -8px 8% 0;
    background-color: $bg-color-main;
  }

  .example__description {
    @include font-family($font-family-primary, 400, 20px, 150%);
    max-width: 80%;
    justify-self: end;
    padding: 6px 0 0;
    letter-spacing: 0.1px;
    text-align: right;
  }

  .example__slider {
    grid-column: 1 / -1;
    margin: 44px auto 0;
  }

  .example__description-wrapping {
    display: block;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .example {
    border-top: none;
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: 0 auto;
    padding: 0;
    border: none;
  }

  .example__wrapper::before {
    content: "";
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: calc(100%);
    min-height: 0;
    margin: 0;
    background-color: $bg-color-primary;
    z-index: 0;
  }

  .example__wrapper::after {
    display: none;
  }

  .example__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: calc($container-width / 2);
    margin: 0 0 75px auto;
  }

  .example__container {
    grid-template-columns: 1fr;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 50px;
    width: calc($container-width / 2);
    margin: 70px 0 70px auto;
  }

  .example__text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: calc($container-width / 2.82);
    margin: 0 0 4px;
    z-index: 1;
  }

  .example__list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 43px;
    width: calc($container-width / 3.35);
    margin: 15px 0 0;
    z-index: 1;
  }

  .example__description {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    place-self: flex-end start;
    display: flex;
    gap: 63px;
    z-index: 1;
    padding: 0;
  }

  .example__definition {
    background-color: $bg-color-primary;
  }

  .example__description-wrapping {
    display: none;
  }

  .example__slider {
    grid-column: 2 / -1;
    grid-row: 1 / 3;
    width: calc($container-width / 2);
    margin: 0 0 0 50px;
  }
}
