// group

.group {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px 20px;
  margin: 0;
  border: none;
}

.group--program {
  gap: 13px;
  padding: 22px 20px 17px;
  border-top: 2px solid $decoration-color-main;
  border-bottom: 2px solid $decoration-color-main;
}

.group--contacts {
  padding: 25px 20px 5px;
}

.group--comment {
  padding: 20px 20px 5px;
}

.group--additionally {
  gap: 13px;
  padding: 20px 20px 32px;
}

.group__title {
  @include font-family($font-family-primary, 400, 24px, 108%);
  position: relative;
  margin-bottom: 20px;
  color: $text-color-main;
}
