// group

.group {
  display: flex;
  flex-direction: column;
  gap: 14px;
  border: none;
  padding: 20px 0 17px;
  margin: 0;
}

.group--program {
  gap: 13px;
  border-top: 2px solid $decoration-color-main;
  border-bottom: 2px solid $decoration-color-main;
}

.group--contacts {
  padding: 24px 0 3px;
}

.group--additionally {
  gap: 13px;
  padding: 15px 0 3px;
}

.group__title {
  @include font-family($font-family-primary, 400, 24px, 108%);
  color: $text-color-main;
  margin-bottom: 20px;
}
