// hero

.hero {
  display: flex;
  flex-direction: column;
}

.hero__wrapper {
  padding: 27px 35px 164px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  background-color: $bg-color-secondary;
  background-image: image-set(url("../../images/hero/hero-background-mobile@1x.webp") 1x, url("../../images/hero/hero-background-mobile@2x.webp") 2x, url("../../images/hero/hero-background-mobile@1x.jpg") 1x, url("../../images/hero/hero-background-mobile@2x.jpg") 2x);
  background-repeat: no-repeat;
  background-position: 65% 50%;
  background-size: cover;
  color: $text-color-secondary;
}

.hero__heading {
  margin: 0;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
}

.hero__description {
  margin: 0;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}

.hero__image {
  display: flex;
  width: 280px;
  height: 270px;
  margin: -135px auto 2px;
}

.hero__button {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    background-image: none;
  }
}
