// page-body

.page-body__page-main {
  flex-grow: 1;
}

.page-body__page-footer {
  padding: 19px 20px 20px;
  background-color: $bg-color-primary;
}

// tablet

@media (min-width: $tablet-width) {
  .page-body__page-header {
    padding: 25px 19px 25px 30px;
  }

  .page-body__page-footer {
    padding: 35px 30px;
  }
}
