// page-body

.page-body__page-main {
  flex-grow: 1;
}

.page-body__page-footer {
  padding: 19px 20px 20px;
  background-color: $bg-color-primary;
  z-index: 1;
}

// tablet

@media (min-width: $tablet-width) {
  .page-body__page-header {
    padding: 25px 19px 25px 30px;
  }

  .page-body__page-footer {
    padding: 35px 30px;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .page-body {
    max-width: $desktop-width;
  }

  .page-body__page-header {
    padding: 55px 96px;
  }

  .page-body__page-footer {
    padding: 48px 110px;
  }
}
