// page-header

.page-header {
  display: grid;
  grid-template-columns: 1fr;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  padding: 14px 20px 12px;
  border-bottom: 2px solid $decoration-color-main;
}

.page-header__button {
  box-sizing: border-box;
  display: flex;
  min-width: 38px;
  min-height: 38px;
  border: none;
  padding: 0;
  background-color: $decoration-color-main;
}

.page-header__button--closed {
  width: 24px;
  height: 24px;
  border: none;
}

.page-header__button--no-js {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    grid-template-columns: auto 1fr;
    padding: 0 25px;
  }

  .page-header__button {
    display: none;
  }
}
