// subscription

.subscription {
  display: grid;
  grid-template-columns: 1fr;
}

.subscription__heading {
  @include font-family($font-family-primary, 400, 24px, 100%);
  display: flex;
  margin: 0;
  padding: 0 0 32px;
  color: $text-color-main;
}

.subscription__text {
  @include font-family($font-family-primary, 400, 16px, 150%);
  margin: 0;
  padding: 0 0 24px;
  text-align: center;
  color: $text-color-main;
}

.subscription__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// tablet

@media (min-width: $tablet-width) {
  .subscription__heading {
    @include font-family($font-family-primary, 400, 32px, 100%);
    padding: 0 0 67px;
  }

  .subscription__text {
    @include font-family($font-family-primary, 400, 24px, 133%);
  }

  .subscription__form {
    display: flex;
    flex-direction: row;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .subscription__heading {
    @include font-family($font-family-primary, 400, 40px, 100%);
    padding: 0 0 70px;
  }

  .subscription__form {
    justify-self: center;
    width: 752px;
  }
}
