// subscription

.subscription {
  display: grid;
  grid-template-columns: 1fr;
}

.subscription__heading {
  @include font-family($font-family-primary, 400, 24px, 100%);
  display: flex;
  margin: 0;
  padding: 0 0 32px;
  color: $text-color-main;
}

.subscription__text {
  @include font-family($font-family-primary, 400, 16px, 150%);
  margin: 0;
  padding: 0 0 24px;
  text-align: center;
  color: $text-color-main;
}

.subscription__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
